Screen {
    background: $surface;
    border: solid $primary;
    padding: 1;
    height: auto;
}
.box {
    height: 100%;
    border: solid green;
}
#connection_info {
    background: $panel;
    color: $text;
    border: round $primary;
    height: 1fr;
    width: 1fr;
    }
